<h2></h2>

<div>
    {{#each characters}}
    <h4>{{name}}</h4>
    <a href="/characters/:id"></a>
    {{/each}}
</div>

{{!-- <div>
    <button>
        <a href="/characters/new">Adding new character</a>
    </button>
</div> --}}