<h2>Enter new character</h2>
<form action="/characters" method="POST">
    <label> Name:
    <input type="text" name="name" placeholder="Name of the character">
    </label>

    <label> Rank:
    <input type="text" name="rank" placeholder="The social/military/organization rank of that character" id="">
    </label>

    <label> Group:
    <input type="text" name="group" placeholder="Affiliation with group or organization">
    </label>

    <label> Equiptment:
    <input type="text" name="arsenal-slots" placeholder="weaponari and/or gear" id="">
    </label>

    <button type="submit">Add to the database</button>
</form>
